body {
  font-family: sans-serif;
  background-color: white;
  height: 2000px;
  padding: 0px;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: white;
  font-size: 1.25em;
}

form div {
  margin: 1em;
  display: inline-block;
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333d51;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 75px;
}

nav h1 {
  margin-left: 20px;
  color: white;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown a {
  color: white;
}

#googleAuth {
  color: black;
}

#welcome {
  color: white;
}

.dropdown h2:hover {
  cursor: pointer;
}

.dropdown .dropdownBtn {
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent a {
  margin: 0px;
  padding: 20px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #e5e5e5;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-left: 10px;
}

.loginNav .dropdownContent {
  width: 400px;
  right: 0;
  margin-right: 40px;
}

#logout {
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.container h1 {
  margin-top: 40px;
  margin-left: 40px;
}

.breakfastItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.breakfastCardContainer {
  display: flex;
  display: column;
  justify-content: flex-start;
}

.card li {
  margin: 50px;
}

.container div {
  display: flex;
  display: column;
  justify-content: center;
}

.allBreakfasts {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  padding-left: 20px;
  width: 400px;
  height: 2000px;
  background-color: #cbd0d8;
}

.sidebar h1 {
  margin-top: 40px;
}

.breakfastItem {
  display: flex;
  flex-direction: column;
  height: 300px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card p {
  text-align: left;
}

.breakfastItem p {
  margin: 5px;
}

.breakfastItem button {
  width: 100px;
  height: 23px;
  border-radius: 7px;
  background-color: #cbd0d8;
  cursor: pointer;
}

.itemInCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}
